@model List<AllViewModel> 

<style>
    .card-container {
        border: 3px solid red;
        display: flex;
        flex-wrap: wrap; /* Това ще позволи на картичките да преминават на нов ред при нужда */
        padding: 10px; /* Добавя някакво пространство вътре в контейнера */
    }


    .card {
        border: 2px solid black;
        margin: 10px; /* Добавя пространство около картичките */

       /* flex: 0 0 calc(33.333% - 20px); /* Задава основата на гъвкавата кутия и не позволява картичката да расте или да се свива */ 
        flex: 0 0 25%;

        box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    }

        .card img {
            width: 100%; /* Настояваме изображението да запълва картичката */
            height: auto; /* Запазваме аспектното съотношение на изображението */
            transition: .5s;
        }

        .card:hover img {
            transform: scale(1.05);
        }

    .card-img-top img{
        width: 100%; /* Настояваме изображението да запълва картичката */
        height: auto; /* Запазваме аспектното съотношение на изображението */
        
    }

</style>

<div class="card-container">
      
            @foreach (var gallery in Model)
            {
                <div class="card mb-3">
                    @if ((gallery.GalleryImage != null))
                    {
                        <img class="card-img-top" src="@Url.Action("GetImage", "Gallery", new { fileName = gallery.GalleryImage.FileName })" alt="Gallery Image not found">
                    }
                    <div class="card-body text-center">
                        <h4>@gallery.Title</h4>
                        <a asp-controller="Gallery" asp-action="Details" asp-route-id="@gallery.Id"
                       class="btn btn-success">Details</a>
                    </div>
                </div>
            }
</div>

