@model List<AllViewModel> 

<style>
    .card-container{
       border: 3px solid red;

    }

    .inside-container{
        border: 4px solid purple;
        display:flex;
       
    }

    .card{
        border: 2px solid black;
    }

    .card mb-3 {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    }

    .card img {
         transition: .5s;

    }

    .card:hover img {
    transform: scale(1.1);
    }

</style>

<div class="card-container">
    <div class="inside-container">

        <div class="col-md-4">

            @foreach (var gallery in Model)
            {
                <div class="card mb-3">
                    @if ((gallery.GalleryImage != null))
                    {
                        <img class="card-img-top" src="@Url.Action("GetImage", "Gallery", new { fileName = gallery.GalleryImage.FileName })" alt="Gallery Image not found">
                    }
                    <div class="card-body text-center">
                        <h4>@gallery.Title</h4>
                        <a asp-controller="Gallery" asp-action="Details" asp-route-id="@gallery.Id"
                       class="btn btn-success">Details</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

