<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        .conteiner{

            text-align:center;
        }

       

        .section-features {
            display: flex;
            flex: 0 0 100%;            
            border: 2px solid black;
            margin-top: 1.5em;
            margin-bottom: 10em;
          

        }

        .fetures-conteiner{
            display:flex;      
            justify-content:center;
            gap:1em;
            border:2px solid pink;
            flex-wrap:wrap;
        }

        .service-item {
            box-shadow: 0 0 45px rgba(0, 0, 0, .06);
            transition: .5s;
        }

            .service-item:hover {
               /* background: var(--primary);*/
               background-color:aqua;
            }

            .service-item * {
                transition: .5s;
            }

            .service-item:hover * {
                color: var(--light) !important;
            }
         
    </style>
</head>

<body>
    <div class="section-hero-banner">
        <div class="conteiner">

            <h2>Welcom to our site to shere your memories in picture</h2>

            <p>Create gallery and uplod pictures.Add descriptopn to help people learn more about this memoris in picture </p>

        </div>
    </div>

    <div class="section-features">

        <div class="container-xxl py-5">


            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
                <h1 class="mb-5">Our Services</h1>
            </div>

            <div class="fetures-conteiner">

                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">

                            <div class="p-4">
                                <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                                <h5>Galleries with picture from WorldWide Tours</h5>
                                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                            </div>

                        </div>
                    </div>

                
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user text-primary mb-4"></i>
                            <h5>Photographers</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                            <h5>Event Management for photographers</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="section-hero-banner">
        <div class="conteiner">

            <h2>Welcom to our site to shere your memories in picture</h2>

            <p>Create gallery and uplod pictures.Add descriptopn to help people learn more about this memoris in picture </p>

        </div>
    </div>
   

</body>

</html>

